.container {
    display: flex; /* Set display to flex */
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(218, 171, 17);
    
  }
  
  
  .card{
    color: rgb(241, 214, 55);
    background-color: rgb(0, 0, 0);
    justify-content: end;
    max-width: fit-content;
  }

  .h-100 {
    background-color: black;
  }
  
  .character-image {
    width: auto;
    height: 250px;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .planet-image {
    width: 250px;
    height: 250px;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .vehicle-image {
    width: auto;
    height: 250px;
    margin-left: 4px;
    margin-right: 4px;
  }
  