.container {
    display: flex; /* Set display to flex */
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: gray;
    border: 1px solid gray;
  }
  
  .card{
    border:1px solid gray;
  
  }
  .h-100 {

    background-color: black;
  }
  .character-image {
    width: 150px;
    height: 150px;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .planet-image {
    width: 150px;
    height: 150px;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .vehicle-image {
    width: 150px;
    height: 150px;
    margin-left: 4px;
    margin-right: 4px;
  }
  