

.btn {
    color: black;
    background-color: 0 12px 16px 0 ;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    max-width: 200px;
    font-size: 16px;
    padding: 4px 6px;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(238, 8, 8, 0.932), 0 6px 20px 0 rgba(0, 0, 0, 0.034);
    border: none;
  }
  
  .btn:hover {
    background-color:rgb(102, 185, 240); /* Green */
    color:rgb(247, 243, 243);
    box-shadow: 0 12px 16px 0 rgb(102, 185, 240), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .btn:active {
        background-color:rgb(102, 185, 240);
        box-shadow: 0 3px #666;
        transform: translateY(3px);
      }

i {
  cursor: pointer;
  transition-duration: 0.2s;
  
  border: none;
}

.i:hover{
  color: rgb(41, 40, 38);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(238, 8, 8, 0.932), 0 6px 20px 0 rgba(0, 0, 0, 0.034);
  transform: translateY(4px);
}


